.position{
  padding: 10%;
}

.form-wrap{
  width: 480px;
}

.form-wrap-view{
  width: 480px;
  display: none;
  padding: 10px;
}

.update-confirm{
  margin-top: 10px;
}

.header-row{
  text-align: center;
}

.label{
  font-size: 100%;
}

.control-l{
  float: left;
}


.control-r{
  float: right;
}

.lbl{
  padding-left: 10px;
}

.position-view{
    padding: 0 15% 0 15%;
}

.slct{
  padding-bottom: 10px;
}

.list-pos{
  text-align: center;
  cursor: pointer;
}

.control-btn{
  margin-top: 5px;
}

.info-block{
  display: none;
}

.show{
  display:block;
}
